name: CI/CD Release

on:
  push:
    branches:
      - master
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch:

env:
  PROJECT_PATH: Meadow_Framework/Meadow_Framework.csproj
  PACKAGE_OUTPUT_DIRECTORY: ${{ github.workspace }}/output
  NUGET_SOURCE: https://api.nuget.org/v3/index.json

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Verify commit exists in origin/master (for tags only)
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
          git branch --remote --contains | grep origin/master

      - name: Set VERSION from tag
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Setup Node
        if: "!startsWith(github.ref, 'refs/tags/')"
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install semantic-release & plugins
        if: "!startsWith(github.ref, 'refs/tags/')"
        run: npm install --no-save semantic-release @semantic-release/commit-analyzer @semantic-release/release-notes-generator @semantic-release/github @semantic-release/exec

      - name: Run semantic-release
        if: "!startsWith(github.ref, 'refs/tags/')"
        id: semantic
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx semantic-release

      - name: Set VERSION from semantic-release
        if: "!startsWith(github.ref, 'refs/tags/') && steps.semantic.outputs.new_release_published == 'true'"
        run: echo "VERSION=${{ steps.semantic.outputs.new_release_version }}" >> $GITHUB_ENV

      - name: Restore dependencies
        run: dotnet restore ${{ env.PROJECT_PATH }}

      - name: Build project
        run: dotnet build ${{ env.PROJECT_PATH }} --configuration Release --no-restore ${{ env.VERSION && format('/p:Version={0}', env.VERSION) || '' }}

      - name: Test
        if: startsWith(github.ref, 'refs/tags/')
        run: dotnet test ${{ env.PROJECT_PATH }} --configuration Release /p:Version=${{ env.VERSION }} --no-build

      - name: Pack NuGet package
        if: (startsWith(github.ref, 'refs/tags/')) || (!startsWith(github.ref, 'refs/tags/') && steps.semantic.outputs.new_release_published == 'true')
        run: dotnet pack ${{ env.PROJECT_PATH }} --configuration Release --no-build --output ${{ env.PACKAGE_OUTPUT_DIRECTORY }} ${{ env.VERSION && format('/p:Version={0}', env.VERSION) || '' }}

      - name: Publish to NuGet.org
        if: (startsWith(github.ref, 'refs/tags/')) || (!startsWith(github.ref, 'refs/tags/') && steps.semantic.outputs.new_release_published == 'true')
        run: dotnet nuget push ${{ env.PACKAGE_OUTPUT_DIRECTORY }}/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source ${{ env.NUGET_SOURCE }} --skip-duplicate

      - name: Authenticate with GitHub Packages
        if: (startsWith(github.ref, 'refs/tags/')) || (!startsWith(github.ref, 'refs/tags/') && steps.semantic.outputs.new_release_published == 'true')
        run: |
          dotnet nuget add source --username ${{ github.repository_owner }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"

      - name: Publish to GitHub Packages
        if: (startsWith(github.ref, 'refs/tags/')) || (!startsWith(github.ref, 'refs/tags/') && steps.semantic.outputs.new_release_published == 'true')
        run: dotnet nuget push ${{ env.PACKAGE_OUTPUT_DIRECTORY }}/*.nupkg --source github --skip-duplicate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}