name: Build & Publish

on:
  push:
    tags:
      - 'v*'   # example: v1.0.0

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Create artifacts directory
        run: mkdir -p artifacts

      - name: Restore
        run: dotnet restore Meadow_Framework.sln

      - name: Build
        run: dotnet build Meadow_Framework.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test Meadow_Framework.sln --configuration Release --no-build

      # -------------------------
      # Version from git tag
      # -------------------------
      - name: Extract version
        id: version
        run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT

      # -------------------------
      # Pack Project
      # -------------------------
      - name: Pack Meadow_Framework
        run: dotnet pack Meadow_Framework/Meadow_Framework.csproj --configuration Release --no-build -p:PackageVersion=${{ steps.version.outputs.VERSION }} --output artifacts

      # -------------------------
      # Publish to GitHub Packages
      # -------------------------
      - name: Publish to GitHub Packages
        run: dotnet nuget push "artifacts/*.nupkg" --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate

      - name: Publish symbols to GitHub Packages
        run: dotnet nuget push "artifacts/*.snupkg" --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate

      # -------------------------
      # Publish to NuGet.org
      # -------------------------
      - name: Publish to NuGet.org
        run: dotnet nuget push "artifacts/*.nupkg" --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate